Repository Automaat/creatorops: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: resolve jsx-a11y errors for oxlint 1.38.0
  .claude/settings.local.json
  .oxlintrc.json
  src/components/CommandPalette.tsx
  src/components/Dashboard.tsx
  src/components/Delivery.tsx
  src/components/Import.tsx
  src/components/KeyboardShortcutsHelp.tsx
  src/components/Layout.tsx
  src/components/Projects.tsx
Due: frontend

style: format code with prettier
  src/components/CommandPalette.tsx
  src/components/Dashboard.tsx
  src/components/Import.tsx
  src/components/KeyboardShortcutsHelp.tsx
  src/components/Layout.tsx
  src/components/Projects.tsx
Due: frontend

fix: update rand 0.9 deprecated APIs
  src-tauri/src/modules/google_drive.rs
Due: backend

ci: add job dependencies in rust workflow
  .github/workflows/ci-rust.yml
Due: none

ci: pin ubuntu version to 24.04 in rust workflow
  .github/workflows/ci-rust.yml
Due: none

ci: use Swatinem/rust-cache for shared build caching
  .github/workflows/ci-rust.yml
Due: none

ci: add job dependencies and pin ubuntu-24.04 in rust workflow (#85)
  .github/workflows/ci-rust.yml
Due: none

fix: enable query and form features for reqwest 0.13
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

fix: replace usize with i64 for COUNT(*) queries in rusqlite 0.38
  src-tauri/src/modules/db.rs
Due: backend

fix(rand): use RngExt+Alphanumeric for rand 0.10
  src-tauri/src/modules/google_drive.rs
Due: backend

fix(rand): fmt chain call in generate_random_alphanumeric
  src-tauri/src/modules/google_drive.rs
Due: backend

fix(rust): use str::to_owned instead of ToString::to_string
  src-tauri/src/modules/file_utils.rs
Due: backend

refactor(frontend): extract inline styles in Projects.tsx
  src/components/Projects.tsx
  src/styles/components.css
  src/styles/global.css
Due: frontend

style(frontend): fix prettier formatting in Projects.tsx
  src/components/Projects.tsx
Due: frontend

test(frontend): add coverage for import dialog states
  src/components/Projects.test.tsx
Due: none

refactor(frontend): extract inline styles in Projects.tsx (#172)
  src/components/Projects.test.tsx
  src/components/Projects.tsx
  src/styles/components.css
  src/styles/global.css
Due: frontend

refactor(projects): extract inline styles to CSS classes
  src/styles/components.css
  src/styles/global.css
Due: frontend

test(projects): cover import dialog and delete spinner states
  src/components/Projects.test.tsx
Due: none

test(projects): fix extraInvokes return type to Promise
  src/components/Projects.test.tsx
Due: none

style(projects): fix prettier formatting in test file
  src/components/Projects.test.tsx
Due: none

refactor(projects): extract inline styles to CSS classes (#173)
  src/components/Projects.test.tsx
  src/styles/components.css
  src/styles/global.css
Due: frontend

fix(frontend): remove eslint-disable comments in 3 components
  src/components/Import.tsx
  src/components/Settings.tsx
  src/contexts/NotificationContext.tsx
Due: frontend

fix(review): split context def to fix only-export-components
  src/components/NotificationToast.test.tsx
  src/contexts/NotificationContext.test.tsx
  src/contexts/NotificationContext.tsx
  src/contexts/notification-context.ts
  src/hooks/useNotification.ts
Due: frontend

fix(frontend): remove eslint-disable comments (#176)
  src/components/Import.tsx
  src/components/NotificationToast.test.tsx
  src/components/Settings.tsx
  src/contexts/NotificationContext.test.tsx
  src/contexts/NotificationContext.tsx
  src/contexts/notification-context.ts
  src/hooks/useNotification.ts
Due: frontend

docs(backend): add missing doc comments to Rust modules
  src-tauri/src/modules/archive.rs
  src-tauri/src/modules/backup.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/file_utils.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/src/modules/import_history.rs
  src-tauri/src/modules/mod.rs
  src-tauri/src/modules/project.rs
Due: backend

fix(docs): correct google_drive token storage docs
  src-tauri/src/modules/google_drive.rs
Due: backend

fix(docs): wrap SQLite in backticks in doc comments
  src-tauri/src/modules/google_drive.rs
Due: backend

fix(frontend): remove eslint-disable comments (#177)
  src-tauri/src/modules/archive.rs
  src-tauri/src/modules/backup.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/file_utils.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/src/modules/import_history.rs
  src-tauri/src/modules/mod.rs
  src-tauri/src/modules/project.rs
Due: backend

docs(backend): document and justify clippy allow rules
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/src/progress.rs
  src-tauri/src/state.rs
  src-tauri/src/utils/file_ops.rs
Due: backend

docs(google_drive): fix inaccurate dead_code comments
  src-tauri/src/modules/google_drive.rs
Due: backend

docs(backend): document clippy allow rules (#182)
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/src/progress.rs
  src-tauri/src/state.rs
  src-tauri/src/utils/file_ops.rs
Due: backend

feat(frontend): add React error boundaries
  .claude/CLAUDE.md
  src/App.tsx
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/styles/components.css
  src/styles/global.css
Due: frontend

fix(frontend): reset error boundary on view reactivation
  src/App.tsx
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
Due: frontend

fix(frontend): AlwaysThrows return type never
  src/components/ErrorBoundary.test.tsx
Due: none

feat(frontend): add React error boundaries (#185)
  .claude/CLAUDE.md
  src/App.tsx
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/styles/components.css
  src/styles/global.css
Due: frontend

refactor(frontend): replace console with NotificationContext
  src/App.tsx
  src/components/BackupQueue.tsx
  src/components/CommandPalette.test.tsx
  src/components/CommandPalette.tsx
  src/components/Dashboard.test.tsx
  src/components/Dashboard.tsx
  src/components/Delivery.tsx
  src/components/Import.tsx
  src/components/Projects.tsx
  src/components/Settings.test.tsx
  src/components/Settings.tsx
Due: frontend

fix(frontend): gate bg load toasts to active view
  src/App.tsx
  src/components/BackupQueue.tsx
  src/components/Dashboard.tsx
  src/components/Delivery.tsx
  src/components/Projects.tsx
  src/components/Settings.tsx
Due: frontend

style(frontend): fix App.tsx prettier formatting
  src/App.tsx
Due: frontend

fix(frontend): add missing useEffect/useCallback deps
  src/App.tsx
  src/components/BackupQueue.tsx
  src/components/CommandPalette.test.tsx
  src/components/CommandPalette.tsx
  src/components/Dashboard.tsx
  src/components/Delivery.tsx
  src/components/Projects.tsx
Due: frontend

style(frontend): fix Prettier formatting in Delivery/Projects
  src/components/Delivery.tsx
  src/components/Projects.tsx
Due: frontend

Path conditions:
  frontend: any of: src/, but not: src/test/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src-tauri/target/, node_modules/, dist/, vite.config.ts, vitest.config.ts, .oxlintrc.json
  backend: any of: src-tauri/src/, but not: src/test/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src-tauri/target/, node_modules/, dist/, vite.config.ts, vitest.config.ts, .oxlintrc.json
