Repository Automaat/creatorops: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(frontend): replace console with NotificationContext (#186)
  src/App.tsx
  src/components/BackupQueue.tsx
  src/components/CommandPalette.test.tsx
  src/components/CommandPalette.tsx
  src/components/Dashboard.test.tsx
  src/components/Dashboard.tsx
  src/components/Delivery.tsx
  src/components/Import.tsx
  src/components/Projects.tsx
  src/components/Settings.test.tsx
  src/components/Settings.tsx
Due: frontend

chore(lint): drop rules removed in oxlint v1.63.0
  .oxlintrc.json
Due: none

refactor(backend): migrate helpers to AppError
  src-tauri/src/error.rs
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/file_utils.rs
  src-tauri/src/modules/import_history.rs
  src-tauri/src/modules/project.rs
Due: backend

fix(backend): address review comments
  src-tauri/src/error.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/project.rs
Due: backend

fix(lint): resolve no-shadow and consistent-return errors
  src/components/CommandPalette.tsx
  src/components/CreateProject.tsx
  src/components/DatePicker.tsx
  src/components/Import.tsx
  src/components/KeyboardShortcutsHelp.tsx
  src/components/Projects.test.tsx
  src/components/Projects.tsx
  src/hooks/useKeyboardShortcuts.ts
Due: frontend

refactor(backend): implement custom AppError type (#187)
  src-tauri/src/error.rs
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/file_utils.rs
  src-tauri/src/modules/import_history.rs
  src-tauri/src/modules/project.rs
Due: backend

fix(file-utils): compat sha2 0.11 hex encoding
  src-tauri/src/modules/file_utils.rs
Due: backend

test(utils): add edge case coverage for util functions
  src/utils/deliveryDestinations.test.ts
  src/utils/formatting.test.ts
  src/utils/project.test.ts
Due: none

fix(utils): make date parsing timezone-stable
  src/utils/formatting.test.ts
  src/utils/formatting.ts
  src/utils/project.ts
Due: frontend

test(utils): add edge case coverage and fix timezone-stable date parsing (#188)
  src/utils/deliveryDestinations.test.ts
  src/utils/formatting.test.ts
  src/utils/formatting.ts
  src/utils/project.test.ts
  src/utils/project.ts
Due: frontend

refactor(backend): implement custom AppError type
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/modules/backup.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/tests/integration_state.rs
Due: backend

fix(google-drive): distinguish TokenNotFound from other IO errors
  src-tauri/src/modules/google_drive.rs
Due: backend

fix(google-drive): distinguish TokenNotFound from other IO errors (#189)
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/modules/backup.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/tests/integration_state.rs
Due: backend

chore(deps): update tauri plugins to stable versions
  src-tauri/Cargo.toml
Due: none

chore(deps): update tauri plugins to stable versions (#190)
  src-tauri/Cargo.toml
Due: none

refactor(lint): remove allow directives
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/modules/archive.rs
  src-tauri/src/modules/backup.rs
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/file_utils.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/src/modules/import_history.rs
  src-tauri/src/modules/project.rs
  src-tauri/src/modules/sd_card.rs
  src-tauri/src/progress.rs
  src-tauri/src/state.rs
  src-tauri/src/utils/file_ops.rs
  vitest.config.ts
Due: backend

fix(tests): hold HOME mutex across full test body
  src-tauri/src/modules/import_history.rs
Due: backend

fix(google-drive): match TokenNotFound in test
  src-tauri/src/modules/google_drive.rs
Due: backend

refactor(lint): remove allow directives (#191)
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/modules/archive.rs
  src-tauri/src/modules/backup.rs
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/delivery.rs
  src-tauri/src/modules/file_copy.rs
  src-tauri/src/modules/file_system.rs
  src-tauri/src/modules/file_utils.rs
  src-tauri/src/modules/google_drive.rs
  src-tauri/src/modules/import_history.rs
  src-tauri/src/modules/project.rs
  src-tauri/src/modules/sd_card.rs
  src-tauri/src/progress.rs
  src-tauri/src/state.rs
  src-tauri/src/utils/file_ops.rs
  vitest.config.ts
Due: backend

feat(clients): add client management system
  src-tauri/src/lib.rs
  src-tauri/src/modules/client.rs
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/mod.rs
  src-tauri/src/modules/project.rs
  src/App.tsx
  src/components/ClientSelector.test.tsx
  src/components/ClientSelector.tsx
  src/components/Clients.test.tsx
  src/components/Clients.tsx
  src/components/CreateClient.test.tsx
  src/components/CreateClient.tsx
  src/components/CreateProject.test.tsx
  src/components/Dashboard.tsx
  src/components/Layout.tsx
  src/types/index.ts
Due: frontend, backend

fix(clients): address review comments
  src-tauri/src/lib.rs
  src-tauri/src/modules/client.rs
  src/components/ClientSelector.tsx
  src/components/Dashboard.tsx
Due: frontend, backend

feat(clients): add client management system (#192)
  src-tauri/src/lib.rs
  src-tauri/src/modules/client.rs
  src-tauri/src/modules/db.rs
  src-tauri/src/modules/mod.rs
  src-tauri/src/modules/project.rs
  src/App.tsx
  src/components/ClientSelector.test.tsx
  src/components/ClientSelector.tsx
  src/components/Clients.test.tsx
  src/components/Clients.tsx
  src/components/CreateClient.test.tsx
  src/components/CreateClient.tsx
  src/components/CreateProject.test.tsx
  src/components/Layout.tsx
  src/types/index.ts
Due: frontend, backend

ci(actions): add auto-merge-on-green workflow
  .github/workflows/auto-merge.yml
Due: none

ci(actions): add auto-merge-on-green workflow (#233)
  .github/workflows/auto-merge.yml
Due: none

ci(renovate): enable platform automerge
  renovate.json
Due: none

ci(renovate): enable platform automerge (#234)
  renovate.json
Due: none

Path conditions:
  frontend: any of: src/, but not: src/test/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src-tauri/target/, node_modules/, dist/, vite.config.ts, vitest.config.ts, .oxlintrc.json
  backend: any of: src-tauri/src/, but not: src/test/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src-tauri/target/, node_modules/, dist/, vite.config.ts, vitest.config.ts, .oxlintrc.json
